[submodule "chat-client"]
	path = chat-client
	url = https://github.com/nastyayasko/chat-client.git
[submodule "chat-server"]
	path = chat-server
	url = https://github.com/nastyayasko/chat-server.git
[submodule "chat-client-mobile"]
	path = chat-client-mobile
	url = https://github.com/nastyayasko/chat-client-mobile.git
